In [2]:
import pandas as pd

In [10]:
core_courses = {
    "Programming Fundamentals": "3-1",
    "Object Oriented Programming": "3-1",
    "Data Structures & Algorithms": "3-1",
    "Discrete Structures": "3-0",
    "Operating Systems": "3-1",
    "Database Systems": "3-1",
    "Software Engineering": "3-0",
    "Computer Networks": "3-1",
    "Information Security": "3-0",
    "Final Year Project": "0-6"
}

{English Composition & Comprehension 3 
Technical & Business Writing 3 
Communication & Presentation Skills 3 
Professional Practices 3 
Intro to Info. & Comm. Technologies 2-1 
Pakistan Studies 2 
Islamic Studies/ Ethics 2 }

In [15]:
import pandas as pd

def check_courses(df):
    df['courseName'] = df['courseName'].str.replace(' Lab', '')
    
    df_grouped = df.groupby('courseName')['points'].sum().reset_index()
    
    studied_courses = df_grouped.set_index('courseName')['points'].to_dict()
    
    missing_or_failed_courses = []
    
    for course, hours in core_courses.items():
        theory_hours, lab_hours = map(int, hours.split('-'))
        total_hours = theory_hours + lab_hours
        if course not in studied_courses:
            missing_or_failed_courses.append(course)
        elif studied_courses[course] < 1:
            missing_or_failed_courses.append(course)
        elif studied_courses[course] >= 1 and studied_courses[course] < total_hours:
            missing_or_failed_courses.append(course)
    
    if missing_or_failed_courses:
        return f"The following courses have not been studied, not passed, or failed: {', '.join(missing_or_failed_courses)}"
    else:
        return "All core computing courses have been studied and passed."

df = pd.read_csv('P1 - HEC Degree Requiremnts\Raw Data\Std-001.csv')
print(check_courses(df))

The following courses have not been studied, not passed, or failed: Data Structures & Algorithms, Discrete Structures, Software Engineering, Information Security

In [12]:
df.head()

,semester,courseName,creditHour,grade,points,type,rmk
0,1,Programming Fundamentals,3,C-,1.67,C,NaN
1,1,English Composition & Comprehension,1,C,2.00,C,NaN
2,1,Islamic Studies & Ethics,3,A,4.00,C,NaN
3,1,Applied Physics,3,B,3.00,C,NaN
4,1,Calculus & Analytical Geometry,3,C,2.00,C,NaN